#include <string>

// Copy this file, adjust configuration for your device and include it in main.cpp

// WIFI
std::string wifi_ssid = "<wifi name>"; 
std::string wifi_password = "<wifi password>";
int wifiCheckInterval = 30000;

// MQTT
const char mqttThingName[20] = "sensor-living-room";
const char mqttServer[16] = "192.168.1.23";
const int mqttPort = 1883;
const char mqttUser[20] = "";
const char mqttPass[20] = "";
const char mqttTopicPrefix[60] = "LivingRoom/RoomSensor/";

// BME680
float temperatureOffset = 0;   // °C
int sensorReadIntervall = 30000; // ms
//const u_int8_t espMode = 1; // active
const u_int8_t espMode = 0; // passive